.main-bottom-section {
  height: 100%;
  width: 100%;
   text-align: center;
   margin:0 auto;
   padding-top: 6%;
   padding-left: 1.5em;
   padding-right: 1.5em;
}


.main-bottom-item-container {
  height: 100%;
  width: 100%;
}

.item-card-top-container {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.item-card-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
}

.item-card {
  width: 48%;
}

.item-card-image {
  width: 100%;
}

.full-width-item {
    width: 100%;
    margin: auto;
    margin-bottom: 4%;
    clear: both;
}

.large-item {
    width: 100%;
    margin: auto;
    margin-bottom: 4%;
    clear: both;
}

@media (min-width: 900px) {
  .main-bottom-container {
    width: 900px;
    margin: auto;
}
